# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.db
*.sqlite3

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo
